@model ResumeManager.Models.Applicant

@{
	ViewData["Title"] = "Create";
}

<div class="col-11 mx-auto pt-0">
	<div class="card">
		<div class="card-header bg-primary text-uppercase text-white" style="height:45px">
			<h4>View Applicant</h4>
		</div>
		
			<form id="ApplicantForm" enctype="multipart/form-data" asp-action="Create">
				<div class="row">
				<div class="col-md-6">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group">
						<label asp-for="Name" class="control-label"></label>
						<input asp-for="Name" class="form-control" />						
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label asp-for="Gender" class="control-label"></label>
						<input asp-for="Gender" class="form-control-plaintext" readonly />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label asp-for="Age" class="control-label"></label>
						<input asp-for="Age" class="form-control-plaintext" readonly />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label asp-for="Qualification" class="control-label"></label>
						<input asp-for="Qualification" class="form-control-plaintext" readonly />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label asp-for="TotalExperience" class="control-label"></label>
						<input asp-for="TotalExperience" class="form-control-plaintext" readonly />						
					</div>
				</div>
				<div class="col-md-6 btn-group">
					<img src="~/images/@Model.PhotoUrl" class="img-fluid" />
				</div>

				<table id="ExpTable" class="table table-striped table-sm">
					<thead>
						<tr>
							<th>Company Name</th>
							<th>Designation</th>
							<th>YearsWorked</th>
						</tr>
					</thead>
					<tbody>
						@*@foreach (var item in Model.Experiences)*@
						@for (int i = 0; i < Model.Experiences.Count; i++)

						{
							<tr>
								@* <td><input type="text" asp-for="@item.CompanyName"/></td>*@
								@*<td>@Html.EditorFor(x=>x.Experiences[i].CompanyName,new{htmlAttributes=new{@class="form-control"}})</td>*@
								<td><input asp-for="@Model.Experiences[i].CompanyName" class="form-control-plaintext" readonly/></td>

								@* <td><input type="text" asp-for="@item.Designation" /></td>*@
								@*<td>@Html.EditorFor(x=>x.Experiences[i].Designation,new{htmlAttributes=new{@class="form-control"}})</td>*@
								<td><input asp-for="@Model.Experiences[i].Designation" class="form-control-plaintext" readonly /></td>
								@*<td><input type="text" asp-for="@item.YearsWorked"/></td>*@
								@*<td>@Html.EditorFor(x=>x.Experiences[i].YearsWorked,new{htmlAttributes=new{@class="form-control"}})</td>*@
								<td><input asp-for="@Model.Experiences[i].YearsWorked" class="form-control-plaintext" readonly /></td>
							
							</tr>
						}
					</tbody>
				</table>
				<input type="hidden" id="hdnLastIndex" value="0" />			
			</form>
		</div>

	</div>
</div>


<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");

		
	}
}
